name: Build and Deplou to Azure

env:
  AZURE_CONTAINER_REGISTRY_NAME: "acr20241022sen"
  AZURE_CONTAINER_REGISTRY: "acr20241022sen.azurecr.io"
  CONTAINER_NAME: "hello-world"
  RESOURCE_GROUP: 'rg-github-actions-demo'
  CLUSTER_NAME: 'aks-sen-auseast'
  
on:
  push:
    branches: ['master']
  workflow_dispatch:

permission:
  contents: read
  
jobs:
  buildContainerImage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@v3.7.1

      - name: Azure Container Registry Login
        uses: azure/docker-login@v1
        with:
           username: ${{ env.AZURE_CONTAINER_REGISTRY_NAME }}
           password: ${{ secrets.AZURE_CONTAINER_REGISTRY_PW }}
           login-server: ${{ env.AZURE_CONTAINER_REGISTRY }}
         
      - name: Build and Push Docker Images
        uses: docker/build-push-action@v6.9.0
        with:
           push: true
           tags: ${{ env.AZURE_CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.CONTAINER_NAME }}:${{ github.sha }}
           file: ./Dockerfile

  deployToAKS:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      content: read
      id-token: write

    environment: Production

    needs: [buildContainerImage]
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
         
      - name: Azure Login
        uses: Azure/login@v2.2.0
        with: 
          client-id: ${{secrets.AZURE_CLIENT_ID}}
          tenant-id: ${{secrets.AZURE_TENANT_ID}}
          subscription-id: ${{secrets.AZURE_SUBSCRIPTION_ID}}
            
      - name: Setup kubelogin
        uses: Azure/use-kubelogin@v1
 
      - name: Kubernetes Set Context
        uses: Azure/k8s-set-context@v3.0
        with:
          resource-group: ${{env.RESOURCE_GROUP}}
          cluster-name: ${{env.CLUSTER_NAME}}
          admin: False
         
      - name: envsubst-action
        uses: danielr1996/envsubst-action@1.1.0
        env:
          MONGODB_URI: ${{ secret.MONGODB_URI}}
          AZURE_CONTAINER_REGISTRY: ${{ secret.AZURE_CONTAINER_REGISTRY}}
          CONTAINER_NAME: ${{ secret.CONTAINER_NAME}}
        with:
              # File to run substitutions on
          input: 
            kubernetes/hello-world-deployment.yaml

              # File to write result to
          output: 
            hello-world-deployment.yaml

             
        - name: Deploy to Kubernetes cluster
          uses: Azure/k8s-deploy@v4.9
          with:
            action: deploy
            manifests: |
              hello-world-deployment.yaml
              kubernetes/hello-world-service.yaml
            images: ${{ secret.AZURE_CONTAINER_REGISTRY}}/${{ secret.CONTAINER_NAME}}:${{github.sha}}


          
