name: Build and Deplou to Azure

env:
  AZURE_CONTAINER_REGISTRY_LOGIN_SERVER: 'acr20241022sen.azurecr.io'
  AZURE_CONTAINER_REGISTRY_USERNAME: 'acr20241022sen'
  CONTAINER_NAME: 'Hello_World'

on:
  push:
    branches: ['master']
  workflow_dispatch:

permission:
  contents: read
  
jobs:
  buildContainerImage:
    runs-on: ubuntu-latest

    steps:
      -name: Checkout
       uses: actions/checkout@v4.2.2

      -name: Set Up Docker Buildx
       uses: docker/setup-buildx-action@v3.7.1

      -name: Azure Container Registry Login
       uses: azure/docker-login@v1
       with:
         login-server: ${{ env.AZURE_CONTAINER_REGISTRY_LOGIN_SERVER }}
         username: ${{ env.AZURE_CONTAINER_REGISTRY_USERNAME }}
         password: 5Wp+4UqSH6vTB56V8oXf/G5Muyq1h7ZG0Or329kRkc+ACRBZ7kK4
         
      -name: Build and Push Docker Images
       uses: docker/build-push-action@v6.9.0
        with:
          push: true
          tags: ${{ env.AZURE_CONTAINER_REGISTRY_LOGIN_SERVER }}/${{ env.CONTAINER_NAME }}:${{ github.sha }}
          file: ./Dockerfile

    # deployToAKS:
    #   runs-on: ubuntu-latest

    #   steps:




          
